
h1 {
color:rgb(0,0,0);
font-family: "century gothic";
text-align:center;
font-size: 142px;
margin-bottom: 10px;
}

h1:hover {
	
	font-size: 92px;
}

body {
	background-color:black;
}

h3{
color: #FF6600;
font-family: "roboto";
font-size: 30px;
text-align: center;
margin-top: 5px;
}

.header{
font-family: "LEMON/MILK";
font-size: 25px;
margin-bottom: 10px;
}

.nav {
position:fixed;


}

.nav a {
  color: rgb(255,255,255);
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;

}

.caption {
  margin: 10px;
  width: 680px;
  height: 400px;
  float: left;
  position: relative;

}

h2 {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.75);
  padding: 4px 8px;
  color: white;
  margin: 0;
  font-size: 16px;
  display:none;
  }
  
 	 /* Aggressive */
#pic1 {
  background:  url("http://i.imgur.com/86GEYjK.png"); 
}
 	 /* Motorcycle */
#pic2 {
  background:  url("http://i.imgur.com/xaS9Jcd.jpg"); 
}
	/* Ashwin */
#pic3 {
	background: url("http://i.imgur.com/eqiv2M9.jpg");	
}
	/* Nita */
#pic4 {
	background: url("http://i.imgur.com/oVTjfOo.jpg");	
}
	/* Tie */
#pic5 {
	background: url("http://i.imgur.com/AH56yv5.jpg");	
}
	/* Restaurant */
#pic6 {
	background: url("http://i.imgur.com/TMMUopK.jpg");	
}
	/* Food */
#pic7 {
	background: url("http://i.imgur.com/PzUSyft.jpg");	
}
	/* Movie */
#pic8 {
	background: url("http://i.imgur.com/tmO1YlG.jpg");	
}
	/* Barney */
#pic9 {
	background: url("http://i.imgur.com/FnFV6IF.jpg");	
}
	/* Staples */
#pic10 {
	background: url("http://i.imgur.com/EME1K7r.jpg");	
}
	/* Then */
#pic11 {
	background: url("http://i.imgur.com/IWkipwW.jpg");	
}
	/* Now */
#pic12 {
	background: url("http://i.imgur.com/uIJazeZ.jpg");	
}



